#rotator {
  margin-bottom: 24px;
}

.listing {
  position: relative;
  font-size: 14px;
  margin: 24px 0;
  list-style: none;
}

.js .listing li, #rotator {
  background: #fff;
  color: #666;
  padding: 12px;
  width: 450px;
}

.js .listing li {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.listing img, #rotator img {
  display: block;
  margin: 0;
  padding: 0;
  background: #fff;
}

.listing h4, #rotator h4 {
  margin: 16px 0 0;
  padding: 0;
}

.listing p, #rotator p {
  font-size: 12px;
  margin: 6px 0 0;
}

.js .listing .fadeout {
  opacity: 0;
  -webkit-transition: opacity 1.5s ease-in-out;
}

.js .listing .fadein {
  -webkit-transition: opacity 1.5s ease-in-out;
  opacity: 1;
}

.js .listing li:first-child,
.js .listing li.first {
  opacity: 1;
}

